
# SNORT
snort3-log/
snort3/

# DOCKER VOLUMES/RUNTIME DATA
certbot/
mysql-data/
splunk/splunk-data/
splunk/splunk-etc/

# PYTHON
__pycache__/
.pytest_cache/
*.py[cod]
*.egg-info/
venv/
.env

# LOGS AND TEMPS
*.log
*.tmp
*.swp
.DS_Store

# IGNORE IDE/EDITOR CONFIGS
.vscode/
.idea/

# IGNORE SECRETS
*.env
*.secret

# FIREBASE SERVICE KEY
latergram-e9a26-c2cd54fe5321.json