.card-body a {
  text-decoration: none;
  color: var(--color-primary);
} 

.comments-section-border {
  border-color: #363947 !important;
}

#right-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  color: var(--color-white);
  background: var(--color-navbg);
  z-index: 1000;
  overflow-y: auto;
  box-shadow: -2px 0 8px rgba(0,0,0,0.03);
}

#right-panel .card{
  background: #363947;
  color: #fff;
  border: none;
}

#right-panel .card-header, #right-panel .card-body {
  color: #fff;
  background-color: #363947;
  border: none;
}

#right-panel .card-body a {
  color: #fff;
}

@media (max-width: 991px) {
  #right-panel {
    display: none;
  }
}

.base-btn:hover, .base-btn:focus {
  background: #4660c7 !important;
  color: #fff !important;
}