:root {
    --color-white: #ffffff;
    --color-bg: #10121D;
    --color-navbg: #202332;
    --color-primary: #5F77F8;
    --color-input: #1a1c2c;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-white);
    background-color: var(--color-bg);
}

#main-nav {
    background-color: var(--color-navbg) !important;
    width: 250px !important;
    height: 100vh !important;
}

.navbar-brand {
    color: var(--color-white);
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: regular;
}

.navbar-brand .beau {
    font-family: "Beau Rivage", cursive;
}

.nav-item {
    margin: 12px 0;
}

.nav-link {
    height: 48px;
    display: flex;
    align-items: center;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
    color: var(--color-white) !important;
}

.nav-link:hover {
    color: #d2d3d6 !important;
    background-color: #161923;
}

.nav-link i {
    font-size: 24px;
    height: 24px;
    width: 24px !important;
    margin-right: 16px;
    vertical-align: middle;
}

.nav-link.active {
    background-color: inherit !important;
    color: var(--color-primary) !important;
    font-weight: 600;
}

#logout-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
}

#search-suggestions .list-group-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#search-suggestions img {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.feed {
  max-width: 600px;
  width: 100%;
}

.post {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
}

.post img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.card-header img {
  object-fit: cover;
  border-radius: 50%;
}

.card-header {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  background-color: white;
}

.card-body {
  padding: 0.75rem 1rem;
}

#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000;
  background: var(--color-navbg, #202332);
}

#right-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  color: var(--color-white);
  background: var(--color-navbg);
  z-index: 1000;
  overflow-y: auto;
  box-shadow: -2px 0 8px rgba(0,0,0,0.03);
}

#right-panel .card {
  background: #363947;
  color: #fff;
  border: none;
}

#right-panel .card-header, #right-panel .card-body {
  color: #fff;
  background-color: #363947;
  border: none;
}

#right-panel .card-body a {
  color: #fff;
}

#main-content {
  margin-left: 250px;
  margin-right: 320px;
  min-height: 100vh;
  padding: 2rem 1rem;
}

@media (max-width: 991px) {
  #right-panel {
    display: none;
  }
  #main-content {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  #main-nav {
    width: 60px;
  }
  #main-content {
    margin-left: 60px;
    padding: 1rem 0.5rem;
  }
}