<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latergram</title>

    <!-- Local CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fonts/beau-rivage/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/node_modules/bootstrap-icons/font/bootstrap-icons.css') }}"
    />
  </head>

  <body>
    <div class="d-flex">
      <nav id="main-nav" class="flex-column bg-light py-5 px-3">
        <a class="navbar-brand mb-4" href="">
          Later<span class="beau">G</span>ram
        </a>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">
              <i class="fas fa-house"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fas fa-magnifying-glass"></i> Search</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create_post') }}"
              ><i class="fas fa-plus"></i> Create Post</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}">
              <i class="fas fa-user"></i> Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}"
              ><i class="fas fa-arrow-right-from-bracket"></i> Logout</a
            >
          </li>
        </ul>
      </nav>

      <div class="flex-grow-1 py-5 px-3">
        {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Local JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
